<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @school.name %>
</p>

<p>
  <b>State:</b>
  <%= @school.state %>
</p>

<p>
  <b>Description:</b>
  <%= @school.description %>
</p>

<p>
  <b>Lat:</b>
  <%= @school.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @school.lon %>
</p>
<p>
  <b>Attractions in <%= @school.name %>:</b>
  <ol>
    <% @school.attractions.each do |attraction| %>
      <li><%= attraction.name %> - <%= attraction.street %></li>
    <% end %>
  </ol>
</p>

<%= image_tag @school.create_map_link %>


<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
